.shift__right {
    position:fixed;
    padding-left: 19.5vmin;
    margin-top: 15.2vmin;
    margin-bottom: 15.2vmin;

}

.shift__bottom {
    position:fixed;
    margin-top: 47.5vmin;

}

.shift__top {
    position:fixed;
    margin-bottom: 47.5vmin;

}



.slightly__move--up {

    padding-bottom: 2vmin;

}

.slightly__move--right {

    padding-left: 1.9vmin;

}

.bigger__gap {

    padding-top:14.5vmin;
    padding-bottom:14.5vmin;
}

