$var: 1;



.slide__down{

  margin-top:6.5vmin;
}

.circular {

transform-origin: 100px;
transform: rotate(calc(360deg/8 * $var))
}

.spin__btn {
  transform: translate(195%, -170%);
 // top: -15vh;
 // left:15vh;
   animation: rot 3s linear infinite;
}

@keyframes rot {
  from {
    transform: translate(235%, -170%) rotate(0deg);
    
  }
  to {
    transform: translate(235%, -170%) rotate(360deg);
  }
}

.above {
  display:fixed;
  height:0;
  width:0;
  }

  .spin__btn #c1{
    animation: rot2 3s ease-out infinite;
    transform-origin: center;
    overflow: visible;
  }


  @keyframes rot2 {
    from {
      transform: scale(1);
      
    }
    to {
      transform: scale(1.4);
      stroke: #33c5f200;
    }
  }
  
  